@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.ant-collapse-header-text {
  color: white;
}
.ant-collapse-expand-icon {
  color: white;
}
.anticon-close {
  color: white;
}
